<nav>
    <ul>
        <li>
            <a href="/">Homepage</a>
        </li>

        {{#if user}}
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
        {{else}}
        <li>
            <a href="/auth/login">Login</a>
        </li>

        {{/if}}
        <li>
            <a href="/profile">Profile</a>
        </li>


    </ul>
</nav>
<header>
    <h1>Music Station</h1>
</header>
<main>
    <p>Testing</p>
</main>